body {
  background-color: #FFF;
  padding: 20px;
  margin: 0;
  max-width: 760px;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, li {
  /* Load system fonts for macOS, iOS, Windows, Android */
  font-family: -apple-system,
             BlinkMacSystemFont,
             "Segoe UI",
             Roboto,
             Oxygen,
             Ubuntu,
             Cantarell,
             "Open Sans",
             "Helvetica Neue",
             sans-serif;
  line-height: 1.5;
  color: #3F3F3F;
}

ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}

ul.header {
  background-color: #FFF;
  padding: 0;
}

ul.header li a {
  text-align: center;
  color: #B9B9B9;
  text-decoration: none;
  padding: 20px;
  min-width: 66px;
  display: inline-block;
  -webkit-transition: all 150ms ease-in;
  transition:         all 150ms ease-in;
}

ul.header li a.active {
  font-weight: bold;
  background-color: #FF6C6C;
  color: #FFFFFF;
}

.content {
  background-color: #FFF;
  padding: 20px;
  -webkit-box-shadow: 0px 20px 70px -16px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 20px 70px -16px rgba(0,0,0,0.1);
  box-shadow: 0px 20px 70px -16px rgba(0,0,0,0.1);
  border-radius: 3px;
}

/* Futuristic 2017 card UI styles */
.content, ul.header {
  -webkit-box-shadow: 0px 20px 70px -16px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 20px 70px -16px rgba(0,0,0,0.1);
  box-shadow: 0px 20px 70px -16px rgba(0,0,0,0.1);
}

.content, ul.header, ul.header li a {
  border-radius: 3px;
}

.content h2 {
  padding: 0;
  margin: 0;
}

.content li {
  margin-bottom: 10px;
}

.content a {
  text-decoration: none;  /* Strips browser-default underline */
  color: currentColor; /* Strips browser-default blue */
  border-bottom: 2px solid currentColor;
  padding-bottom: 1px;
  -webkit-transition: all 250ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition:         all 250ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.content a:hover {
  color: #FF6C6C;
  padding-bottom: 4px;
  border-bottom: 2px solid #FF6C6C;
}

.content h3 a:after {
  content:' ➡'
}

.content h3 a.active:after {
  content:' ⬇'
}
